.blog-content{
    padding: 1.5rem 2.5rem;
    border: 1px solid #1f86fc;
    border-radius: 20px;
    margin: 2rem 2rem; 
    /* background: rgb(197, 197, 197); */
}
.blog-content h1{
    font-size: 1.5rem;
    color: #1f86fc;
    padding-bottom: 10px;
    margin: 0;
}
.blog-content p{
    font-size: 0.75rem;
    padding: 1rem 1.5rem;
    margin: 0;
}
.blog-content a{
    font-size: 0.75rem;
    padding: 1rem 1.5rem;
    margin: 0;
}