:root
{
    --yellow: #3c7fd8;
    --orange : #1f86fc;
    --black : #242D49;
    --gray : #788097;
    --blueCard : #DDF8FE;
    --purple: rgb(238 210 255);
    --boxShadow : 0px 19px 60px rgb(0 0 0 / 8%);
    --orangeCard: rgba(252, 167, 31, 0.459);
    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}

a {
  all: unset;
}

.App{
    /* padding: 0.5rem 2.5rem; */
    overflow: hidden;
    color: var(--black);    
}

.button{
  border-radius: 34px;
  border:none;
  color:white;
  font-size: 16px;
  padding: 11px 26px 11px 26px;
  background: linear-gradient(180deg, #236dcf 26.71%, #3c48f0 99.36%);
  box-shadow: 0 10px 10px 1px rgba(40, 156, 251, 0.226);
  transition:all 0.35s ease;
}
.button:hover{
  background: white;
  cursor: pointer;
  color: var(--orange);
  border: 1px solid var(--orange);
}
.blur{
  position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    filter: blur(100px);
    z-index: -9;
}

.slide-right {
	-webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(130%);
              transform: translateX(130%);
    }
  }
  @keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(150%);
              transform: translateX(150%);
    }
  }

  .slide-left {
	-webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-100px);
              transform: translateX(-100px);
    }
  }
  @keyframes slide-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-100px);
              transform: translateX(-100px);
    }
  }
