@font-face{
  font-family: Gumela;
  src: url('../src/fonts/Gumela Regular.otf');
}
@font-face{
  font-family: Dinosaur;
  src: url('../src/fonts/Dinosaur.ttf');
}
@font-face{
  font-family: Orangecats;
  src: url('../src/fonts/OrangeCats_PERSONAL_USE_ONLY.otf');
}
@font-face{
  font-family: Austria;
  src: url('../src/fonts/Austria.ttf');
}
*{
  font-family:'Gumela';
  font-weight: normal;
  font-size: 20px;
}
body{
  margin: 0;
}